p
	a.pad(href='/about') About
	span.horizonal-divider |
	a.pad(href='mailto:support@littlenoteapp.com') Support
	span.horizonal-divider |
	a.pad(href='mailto:bug@littlenoteapp.com') Report a Bug
	span.pull-right Chat with us on&nbsp;
		a(href='http://twitter.com/@littlenoteapp') Twitter&nbsp;
		| | 56 Labs 2011 &copy; 2011