p The Team:&nbsp;
	a(href='http://www.tomg.co') Tom Gallacher
	a.pad(href='http://www.twitter.com/@5utekh') Chris Garbe
	a.pad(href='http://www.twitter.com/@kieranajp') Kieran Patel
	span.pull-right Chat with us on&nbsp;
		a(href='http://twitter.com/@littlenoteapp') Twitter&nbsp;
		| | 56 Labs 2011 &copy; 2011