.topbar
	.fill
		.container
			a(href='/').brand= title
				span &nbsp;
				span.label.notice Beta
			ul.nav
				li
					a(href='mailto:bug@littlenoteapp.com') Send Bug Report
			ul.nav.secondary-nav
				li.dropdown(data-dropdown='dropdown')
					a(href="#").dropdown-toggle Account
					ul.dropdown-menu
						li
							a(href="#")#user-name User Account Here
						li.divider
						li
							a(href="#") Help
						li
							a(href="#") Keyboard Shortcuts
						li.divider
						li
							a(href="/logout") Logout
.container
	.content
		.page-header
			h1#notehead(contentEditable='true', tabindex='1') New Note&nbsp;
			small.date= date
		.row
			.span10
				ul.tabs
					li.left-pad
					li
						a(href='#edit')#editNote Edit
					li.active
						a#tab_preview(href='#preview') Preview
					//- li
					//- 	a(href='#') Share
					//- li
					//- 	a(href='#') Settings
				.tab-content
					#edit
						textarea.xxlarge#noteContent(rows='22', tabindex='2')
					#preview.active
				.well
					a.btn(data-controls-modal='newConfirm', data-backdrop='static') +
					a.btn.pull-right.danger.push-left(data-controls-modal='deleteConfirm', data-backdrop='static') Delete
					a.btn.pull-right.primary#btn_save Save
			.span4
				h3 Notes
				nav#list
					ul.unstyled
						//- li
						//- 	a file 1
	#deleteConfirm.modal.hide.fade
		.modal-header
			a(href='#').close &times;
			h3 Warning
		.modal-body
			p Do you want to delete this note?
		.modal-footer
			a(href='#').btn.danger#btn_del Delete
			a(href='#').btn.secondary#btn_close Cancel
	#newConfirm.modal.hide.fade
		.modal-header
			a(href='#').close &times;
			h3 New Note
		.modal-body
			p Before creating a new note do you wish to save?
		.modal-footer
			a(href='#').btn.primary#btn_saveAndNew Save &amp; Continue
			a(href='#').btn.secondary#btn_new No
	footer!=partial('partials/footer')