.topbar
	.fill
		.container
			a(href='#').brand= title
			p.pull-right Logged in as <a href="#">#{account.display_name}</a>
.container
	.content
		.page-header
			h1#notehead(contentEditable='true', tabindex='1') New Note&nbsp;
			small 25th December 2011
		.row
			.span10
				ul.tabs
					li.left-pad
					li.active
						a(href='#') Edit
					li
						a(href='#') Preview
					li
						a(href='#') Share
					li
						a(href='#') Settings
				textarea.xxlarge#noteContent(rows='25', tabindex='2')
				.well
					a.btn.pull-right.danger.push-left#btn_del Delete
					a.btn.pull-right.success.disabled.push-left Saving
					a.btn.pull-right.primary#btn_save Save
			.span4
				h3 Notes
				nav#list
					ul.unstyled
						//- li
						//- 	a file 1
	footer
		p &copy; 56 Labs 2011
			a Tom Gallacher
			a Chris Garbe
			a Kieran Patel