.topbar
	.fill
		.container
			a(href='#').brand= title
			p.pull-right Logged in as <a href="#"></a>
//- .promo
//- 	.container
//- 		.promo-info
//- 			h1 Find any fake sheet.
//- 			p Someone call a tune you haven't played in years? Worse, is it in a different key than normal? No worries! JazzChanges.net has your back.
//- 			ul
//- 				li Easy to read fake sheets (chords only).
//- 				li Two click transposing.
//- 				li Add your own versions.
//- 				li 100% free!
//- 	.clearfix

header.jumbotron.masthead
	.inner
		.container
			h1 Little Note</h1>
			p.lead Little Note is a micro note app
			p You can keep notes, lists and todo items and you don't even need an account.
			p Little Note is built using the Dropbox API, all you need is a Dropbox account and you are off.
				a.btn.primary.large(href='/login') Login &raquo;

.container
	//- .hero-unit
	//- 	h1 Give it a try today
	//- 	p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	//- 	p
	.row
		.span-one-third
			img.thumbnail(src="http://placehold.it/300x200")
			h2 Heading
			p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
			p
				a.btn(href='#') View details &raquo;
		.span-one-third
			img.thumbnail(src="http://placehold.it/300x200")
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn(href='#') View details &raquo;
		.span-one-third
			img.thumbnail(src="http://placehold.it/300x200")
			h2 Heading
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			p
				a.btn(href='#') View details &raquo;
	footer!=partial('partials/footer')