.topbar
	.fill
		.container
			a(href='#').brand= title
			form.pull-right
				a(href='/login').btn Sign in
//- .promo
//- 	.container
//- 		.promo-info
//- 			h1 Find any fake sheet.
//- 			p Someone call a tune you haven't played in years? Worse, is it in a different key than normal? No worries! JazzChanges.net has your back.
//- 			ul
//- 				li Easy to read fake sheets (chords only).
//- 				li Two click transposing.
//- 				li Add your own versions.
//- 				li 100% free!
//- 	.clearfix

header.jumbotron.masthead
	.inner
		.container
			h1 Little Note
			p.lead Little Note is a micro note app
			p You can keep notes, lists and todo items and you don't even need an account.
			p Little Note is built using the Dropbox API, all you need is a Dropbox account and you are off.
			p
				a.btn(href='#') Get Started &raquo;

.container
	.row
		.span-one-third
			img.thumbnail(src="http://placehold.it/300x200")
			h2 Notes Galore
			p Your notes will be with you where ever you are, just pop to Little Note and login. If you hapen to have no internet connection don't worry, you can access your notes from your dropbox and will update as soon as you are connected again!
			//- p
			//- 	a.btn(href='#') View details &raquo;
		.span-one-third
			img.thumbnail(src="http://placehold.it/300x200")
			h2 Anywhere Access
			p A mobile version of Little Note will be arriving very soon. This means you can modify you notes on the move with your smartphone and tablet!
			//- p
			//- 	a.btn(href='#') View details &raquo;
		.span-one-third
			img.thumbnail(src="http://placehold.it/300x200")
			h2 Little and Simple
			p We don't our web apps to be confusing, so we have made Little Note as simple as possible. We also utilise markdown for your formatting needs.
			//- p
			//- 	a.btn(href='#') View details &raquo;
	footer!=partial('partials/footer')