.topbar
	.topbar-inner
		.container-fluid
			a.brand Little Note
			ul.nav
				li.active
					a Home
			p.pull-right Logged in as <a href="#">username</a>

.container-fluid
	.sidebar
		.well
			h5 Sidebar
			ul
				li
					a item
				li
					a item 2
	.content
		.hero-unit
			h1 Hello, world!
			p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
			p <a class="btn primary large">Learn more &raquo;</a>