!!!5
html
	head
		title LittleNote
		link(rel='stylesheet', href='/stylesheets/app/index.css')
	body
		header.app-bar
			h1 LN

			.actions
				span.symbol w
					.dropdown
						p: a(href='#') Help
						p: a(href='#') Keyboard Shortcuts
						p: a(href='#') Sign out
						p.name Ben Gourley


		.app
		
			.note-list.panel

				ul
					li My first note
					li.selected Shopping list
					li Neural Networks Lecture Notes
					li Todo list
					li New design brief
					li Some title that spills over to a new line

			.note-focus.panel

				header.note-title
					p.date
						span.day 23rd
						span.month January
						span.year 2012
					p.last-edit Last edit: 25/01/2012
					h1 Shopping list

				.note
					ul
						li Milk
						li Bread
						li Eggs
						li Cheese
						li Mince
						li Kidney Beans
					p Oh and anything that's on offer