!!!5
html
	head
		title LittleNote
		link(rel='stylesheet', href='/stylesheets/app/index.css')
	body
		header.app-bar
			h1 LN

			.actions
				span.symbol w
					.dropdown
						p: a(href='#') Help
						p: a(href='#') Keyboard Shortcuts
						p: a(href='#') Sign out
						p.name Ben Gourley

		.app
		
			.note-list.panel

				ul
					li My first note
					li Shopping list
					li.selected Neural Networks Lecture Notes
					li Todo list
					li New design brief
					li Some title that spills over to a new line

			.note-focus.panel

				header.note-title
					p.date
						span.day 23rd
						span.month January
						span.year 2012
					p.last-edit Last edit: 25/01/2012
					h1 Neural Networks Lecture Notes

				.note
					p Components of neural networks:
					ul
						li units - type of neurone
						li interactions - direction of communication etc.
						li structure - how many layers, how many units, topology of network
					p
						| Single neurone spike time is *meaningless* – apparently random.
						| So measure rate. This means smaller measures can be quantified
						| (data becomes less discreet).

					p Free parameters – the ones that should be manipulated:

					ul
						li The function
						li The weights
						li The bias

					p A network is a model with its set of parameters. I transforms some input data in to an output.

					p Generalisation. Network has no value if it just learns input/output value. Hash table can do this.

					p Network should be able to transform input it hasn't seen before. The model should be generalised.

					p Networks learns a 'correct' mapping from input to output.

					p Look at distribution of training set. Need to hold back some data from all classifications for generalised training, errors.

					p Pre-processing, feature detection & using prior knowledge. Mapped in to very simple space.
