.jumbotron
	min-width 940px
	padding-top 40px

.jumbotron .inner
	background transparent url(/images/texture.png) top center
	padding 45px 0
	-webkit-box-shadow inset 0 10px 30px rgba(0,0,0,.3)
	-moz-box-shadow inset 0 10px 30px rgba(0,0,0,.3)
	box-shadow inset 0 10px 30px rgba(0,0,0,.3)

.jumbotron h1, .jumbotron p
	margin-bottom 9px
	color #fff
	text-align center
	text-shadow 0 1px 1px rgba(0,0,0,.3)

.jumbotron h1
	font-size 54px
	line-height 1
	text-shadow 0 1px 2px rgba(0,0,0,.5)

.jumbotron p
	font-weight 300

.jumbotron .lead
	font-size 20px
	line-height 27px

.jumbotron p a
	color #404040
	font-weight bold

.masthead
	border-bottom 1px solid #999
	background-color #049cd9
	background-repeat no-repeat
	background-image -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9))
	background-image -webkit-linear-gradient(#004D9F, #049cd9)
	background-image -moz-linear-gradient(#004D9F, #049cd9)
	background-image -o-linear-gradient(top, #004D9F, #049cd9)
	background-image -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9))

.row
	margin-top 20px

.topbar a
	color #333
a.img
	float left
	padding 2px
	margin-left: -2px;
	border-image initial
	border 1px solid #d8d6fc
	-webkit-border-radius 4px
	-moz-border-radius 4px
	border-radius 4px
	-webkit-box-shadow 0 1px 4px rgba(0, 105, 214, 0.25)
	-moz-box-shadow 0 1px 4px rgba(0, 105, 214, 0.25)
	box-shadow 0 1px 4px rgba(0, 105, 214, 0.25)
	background-color: #f3f2ff;