@font-face
	font-family 'BreeSerifRegular'
	src url('/fonts/BreeSerif-Regular-webfont.eot')
	src url('/fonts/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/BreeSerif-Regular-webfont.woff') format('woff'), url('/fonts/BreeSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'IconicStrokeRegular'
	src url('/fonts/iconic_stroke-webfont.eot')
	src url('/fonts/iconic_stroke-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/iconic_stroke-webfont.woff') format('woff'), url('/fonts/iconic_stroke-webfont.ttf') format('truetype'), url('/fonts/iconic_stroke-webfont.svg#IconicStrokeRegular') format('svg')
	font-weight normal
	font-style normal

// Export font names as variables
title-font-stack = 'BreeSerifRegular', sans-serif
body-font-stack = 'LucidaGrande', sans-serif
monospace-font-stack = 'Monaco', 'Menlo', monospace
