
@import 'reset'
@import 'fonts'
@import 'colours'

a
	color dark

body
	font-family body-font-stack
	color dark
	line-height 1.4em

	.app-bar
		background-image linear-gradient(top, light, darken(light, 5%))
		width 50px
		position absolute
		top 0px
		left 0px
		bottom 0px
		overflow visible

		h1
			font-family 'BreeSerifRegular'
			color dark
			font-weight normal
			font-size	22px
			text-shadow 0px 1px rgba(#fff, 0.5)
			line-height 22px
			margin-top 7px
			text-align center
			position relative
		
		.actions
			position absolute
			left 0px
			bottom 0px
			z-index 50
			height 39px
			width 50px

			span
				font-family 'IconicStrokeRegular'
				font-size 26px
				line-height 26px
				text-shadow 0px -1px 0px darken(dark, 40%), 0px 1px 0px rgba(255, 255, 255, 0.2)
				position absolute
				top 6px
				left 16px
				cursor pointer
				color lighten(dark, 20%)
			
			.dropdown
				font-family body-font-stack
				position absolute
				left 30px
				bottom 2px
				display none
				width 150px
				background-color darken(white, 2%)
				border-radius 3px
				border 1px solid #ccc
				font-size 12px
				box-shadow 0px 2px 5px rgba(black, 0.2)

				&:after
					content ''
					position absolute
					bottom 10px
					left -10px
					border 5px solid transparent
					border-right-color darken(white, 4%)
				
				&:before
					content ''
					position absolute
					bottom 8px
					left -14px
					border 7px solid transparent
					border-right-color #ccc

				.name
					font-weight bold
					color #aaa
					text-shadow none
					padding 3px 12px

					&:before
						content 'Hello, '
						font-weight normal

					&:after
						content '!'
						font-weight normal

				a
					color dark
					text-shadow none
					text-decoration none
					display block
					border-bottom 1px solid #eaeaea
					padding 3px 12px
					background-color darken(white, 2%)

					&:hover
						background-color light
						background-image linear-gradient(top, light, darken(light, 20%))
						color white
						text-shadow 0px -1px 0px darken(light, 30%)
						border-bottom 1px solid darken(light, 10%)
						box-shadow inset 0px 1px 0px rgba(white, 0.1)

				p:first-child a
					border-radius 2px 2px 0px 0px
				

			&:hover
				span
					color dark
				.dropdown
					display block

.app
	position absolute
	top 0px
	bottom 0px
	left 50px
	right 0px
	background-color darken(white, 3%)

	.panel
		position absolute
		top 0
		bottom 0
		overflow hidden
		
	.note-list
		left 0
		width 25%

		ul
			position absolute
			bottom 0
			left 0
			right 0
			top -1px
			overflow-y auto
			overflow-x hidden
			border-right 1px solid rgba(dark, 0.1)
			border-left 3px double detail
		
		li
			list-style none
			font-size 14px
			font-weight bold
			display block
			padding 9px 9px 9px 9px
			margin-top -1px
			color lighten(dark, 50%)
			text-shadow 0px 1px 0px rgba(255, 255, 255, 1)
			cursor pointer
			position relative
			border-top 1px solid #eaeaea
			border-bottom 1px solid #eaeaea
			overflow hidden

			&:hover
				background-color #fcfcfc
		
			&.selected
				color dark
				background-color darken(white, 1%)

				&:after
					content ''
					position absolute
					top -10px
					right -10px
					height 20px
					width 20px
					background-image linear-gradient(bottom, detail, darken(detail, 30%))
					transform rotate(45deg)
					background-color detail


	.note-focus
		right 0
		width 75%
		overflow-x hidden
		overflow-y auto

		.note-title
			border-bottom 1px solid #eaeaea
			border-left 1px solid #eaeaea
			border-right 1px solid #eaeaea
			border-top 3px solid detail
			overflow hidden
			background-color darken(white, 1%)
			padding 20px
			margin 0px 20px 20px
			border-radius 0px 0px 2px 2px
			
			h1
				font-size 26px
				line-height 30px
				text-shadow 0px 1px 0px #fff
				clear left

			.date
				border-radius 3px
				float right
				display inline
				font-size 12px
				line-height 12px
				position relative
				border 1px solid darken(light, 20%)
				background-color lighten(light, 20%)
				text-shadow 0px -1px 0px lighten(light, 40%)
				color darken(light, 50%)
				padding 3px 5px
				box-shadow inset 0px 1px 0px rgba(white, 0.1)
				margin 0px 0px 0px 10px
				
				.year
				.day
				.month
					height 12px
					float left
				
				.month
					padding-left 3px
					padding-right 3px
				
			.last-edit
				float right
				clear right
				display inline
				font-size 10px
				font-style italic
				color #ccc
				padding-right 5px
				text-shadow 0px -1px 0px white

		.note
			padding 0px 20px 20px
			margin 0px 20px		

			p
			ul
			ol
			blockquote
				margin-bottom 20px

			li
				list-style-position inside

	.edit
		display none

		input
		textarea
			display block
			border 1px solid #ccc
			height 18px
			font-size 18px
			line-height 18px
			padding 9px
			border-radius 3px
			color dark
			font-family 'HelveticaNeue', sans-serif
			margin-bottom 20px

		textarea
			height 300px
			width 80%
