
@import 'reset'
@import 'fonts'
@import 'colours'

a
	color dark

body
	font-family body-font-stack
	color dark
	line-height 1.4em

	header
		background-image linear-gradient(top, light, darken(light, 5%))
		width 50px
		position absolute
		top 0px
		left 0px
		bottom 0px
		overflow visible

		h1
			font-family 'BreeSerifRegular'
			color dark
			font-weight normal
			font-size	22px
			text-shadow 0px 1px rgba(#fff, 0.5)
			line-height 22px
			margin-top 7px
			text-align center
			position relative

		.new
			border none
			background none
			border-top 1px solid darken(light, 20%)
			box-shadow 0px -1px 0px rgba(white, 0.5)
			position absolute
			bottom 0px
			left 0px
			right 0px
			width 50px
			padding-top 5px
			padding-bottom 5px
			font-size 30px
			line-height 30px
			height 30px
			font-family body-font-stack
			font-weight bold
			color dark
			cursor pointer
			text-shadow 0px 1px 0px rgba(white, 0.5)
			text-align center

			&:hover
				box-shadow inset 0px 0px 10px darken(light, 30%)
		
		.actions
			position absolute
			right 15px
			bottom 10px
			z-index 50
			height 39px
			width 50px
			display none

			span
				font-family 'IconicStrokeRegular'
				font-size 26px
				line-height 26px
				text-shadow 0px -1px 0px darken(dark, 40%), 0px 1px 0px rgba(255, 255, 255, 0.2)
				position absolute
				top 0px
				right 0px
				cursor pointer
				color lighten(dark, 20%)
			
			.dropdown
				position absolute
				left 25px
				bottom 100%
				display none
				width 150px
				padding 9px
				background-image linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95))
				border 1px solid #000
				border-radius 3px
				box-shadow inset 0px 0px 5px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 3px 10px rgba(0, 0, 0, 0.3)
				color #ccc
				font-size 12px
				text-shadow 0px 1px 2px rgba(0, 0, 0, 0.2)

				&:before
					content ''
					position absolute
					bottom -10px
					left 10px
					border 5px solid transparent
					border-top-color #000

				.name
					font-weight bold
					padding-bottom 3px
					border-bottom 1px solid #000
					margin-bottom 7px
					box-shadow 0px 1px 0px rgba(255, 255, 255, 0.08)

				a
					color #ccc
					text-decoration none
					display block

					&:hover
						color bright

			&:hover
				span
					color bright
					text-shadow 0px -1px 0px darken(dark, 30%), 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 0px 5px rgba(13, 117, 220, 0.8)
				.dropdown
					display block

.app
	position absolute
	top 0px
	bottom 0px
	left 50px
	right 0px
	background-color darken(white, 3%)

	.panel
		position absolute
		top 0
		bottom 0
		overflow hidden
		
	.note-list
		left 0
		width 25%

		ul
			position absolute
			bottom 0
			left 0
			right 0
			top -1px
			overflow-y auto
			overflow-x hidden
			border-right 1px solid rgba(dark, 0.1)
			border-left 3px double detail
		
		li
			list-style none
			font-size 14px
			font-weight bold
			display block
			padding 9px 9px 9px 9px
			margin-top -1px
			color lighten(dark, 50%)
			text-shadow 0px 1px 0px rgba(255, 255, 255, 1)
			cursor pointer
			position relative
			border-top 1px solid #eaeaea
			border-bottom 1px solid #eaeaea

			&:hover
				background-color #fff
		
			&.selected
				color dark

	.note-focus
		right 0
		width 75%

		.note
			padding 20px
			overflow auto

			.note-title
				font-size 26px
				margin-bottom 20px
				padding-bottom 20px
				border-bottom 1px dashed #ccc
				text-shadow 0px 1px 0px #fff
			
			p
			ul
			ol
			blockquote
				margin-bottom 20px

			li
				list-style-position inside

	.edit
		display none

		input
		textarea
			display block
			border 1px solid #ccc
			height 18px
			font-size 18px
			line-height 18px
			padding 9px
			border-radius 3px
			color dark
			font-family 'HelveticaNeue', sans-serif
			margin-bottom 20px

		textarea
			height 300px
			width 80%

@keyframes zoom {
	0% {
		transform scale(0)
		opacity 0
	}
	100% {
		transform scale(1)
		opacity 1
	}
}

@keyframes frontflip {
	0% {
		transform rotateY(0deg) scale(1)
	}
	36% {
		transform rotateY(0deg) scale(1)
	}
	38% {
		transform rotateY(0deg) scale(0.8)
	}
	45% {
		transform rotateY(180deg) scale(0.8)
	}
	47% {
		transform rotateY(180deg) scale(1)
	}
	100% {
		transform rotateY(180deg) scale(1)
	}
}

@keyframes backflip {
	0% {
		transform rotateY(-180deg) scale(1)
	}
	36% {
		transform rotateY(-180deg) scale(1)
	}
	38% {
		transform rotateY(-180deg) scale(0.8)
	}
	45% {
		transform rotateY(0deg) scale(0.8)
	}
	47% {
		transform rotateY(0deg) scale(1)
	}
	100% {
		transform rotateY(0deg) scale(1)
	}
}

